/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bitter:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&family=Bowlby+One+SC&family=Didact+Gothic&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

/* ---------- BODY ---------- */
body {
   background-color: rgba(240, 7, 182, 0.911);
    font-family: "Bitter", serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* ---------- TITULOS ---------- */
   h1 {
  /* Definir el degradado */
  background: linear-gradient(to right, #fa00bb, #ecfd02, #fdec02);
   font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  /* Aplicar el degradado solo al texto */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Hacer el color del texto original transparente */
  -webkit-text-fill-color: transparent;
  color: transparent;
}


h2 {
    color: rgb(255, 9, 234);
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

h3, h4, h5{
    color: rgb(255, 9, 234);
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ---------- MAIN ---------- */
main {
    background-color: rgb(217, 255, 0);
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
}

/* ---------- HEADER & FOOTER ---------- */
header, footer {
    background-color: rgb(75, 3, 75);
    color: rgb(230, 253, 24);
    padding: 50px;
    text-align: center;
}

/* ---------- NAV ---------- */
nav ul {
    list-style: none;
    border-bottom: 2px solid violet;
    padding: 10px;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(85, 2, 102);
}

nav a {
    text-decoration: none;
    color: rgb(238, 255, 5);
}

nav a:hover {
    color: rgb(109, 4, 100);
    background-color: rgb(251, 255, 3);
}

/* ---------- SECTION ---------- */
section {
    display: flex;
    gap: 30px;
    padding: 10px;
}

/* ---------- IMAGENES ---------- */
.centrado {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.adaptable {
    display: block;
    width: 100%;
    border: 1px solid black;
}

/* ---------- RESPONSIVE ---------- */
@media screen and (max-width: 600px) {
    header, footer {
        padding: 20px;
    }

    section {
        display: block;
    }
}

.modal-content {

  background-color: #09edf5;
  color: #000000;
}

.modal-title{
    color: rgb(233, 0, 202);
}

img{
    max-width: 100%;
    height: auto;
}

